<%- include('../partials/header') -%>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-3">Show Grade</h3>
        <a href="/grades" class="btn btn-danger">Back</a>
    </div>
    <table class="table table-bordered table-dark table-striped">
            <tr>
                <th>Name</th>
                <td><%= grade.name %></td>
            </tr>
    </table>
<%- include('../partials/footer') -%>

